footer.footer
	.footer__links.container
		.footer__column
			a(href="#").link Latest Posts
			a(href="#").link Popular Posts
		.footer__column
			a(href="#").link Search
			a(href="#").link Contact Information
		.footer__column
			a(href="#").link Privacy Policy
			a(href="#").link Terms of Use
		.footer__column
			.social
				a(href="#").social__link
					img(src="./img/icons/instagram.svg", alt="instagram").icon.icon--big
				a(href="#").social__link
					img(src="./img/icons/twitter.svg", alt="instagram").icon.icon--big
				a(href="#").social__link
					img(src="./img/icons/facebook-f.svg", alt="instagram").icon.icon--big

	.footer__copyright © Copyright 2019. All rights reserved.