header.header
	.social
		a(href="#").social__link
			img(src="./img/icons/instagram.svg", alt="instagram").icon.icon--big
		a(href="#").social__link
			img(src="./img/icons/twitter.svg", alt="instagram").icon.icon--big
		a(href="#").social__link
			img(src="./img/icons/facebook-f.svg", alt="instagram").icon.icon--big
	.container.header__inner
		.header__logo Hipsum Blog
		button.header__search
			img(src="./img/icons/search.svg", alt="instagram").icon.icon--large
	button.button.button--header Subscribe