.pagination
	//- a(href="#").pagination__link.pagination__link--smaller.pagination__link--left newer posts
	.pagination__pages
		a(href="#").pagination__link.pagination__link--active 1
		a(href="#").pagination__link 2
		a(href="#").pagination__link 3
	a(href="#").pagination__link.pagination__link--smaller.pagination__link--right older posts