.link {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.5px;
	color: rgb(142, 147, 153);
	text-align: left;
	text-decoration: none;
	
	margin: 0;
	margin-bottom: 15px;
}
